// .`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.
// Variables
// .`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.


// Colors
$white: #fff;
$white-a: rgba(255, 255, 255, 0.8);
$white-b: rgba(255, 255, 255, 0.6);
$white-c: rgba(255, 255, 255, 0.4);
$white-d: rgba(255, 255, 255, 0.2);
$white-e: rgba(255, 255, 255, 0.1);
$white-f: rgba(255, 255, 255, 0);

$black: #000;
$black-a: rgba(0, 0, 0, 0.4);
$black-b: rgba(0, 0, 0, 0.25);
$black-c: rgba(0, 0, 0, 0.16);
$black-d: rgba(0, 0, 0, 0.12);
$black-e: rgba(0, 0, 0, 0.08);
$black-f: rgba(0, 0, 0, 0);

$gradient-blue: #2cb3bf;
$gradient-green: #69b262;

$primary: #007991;


// Default viewport pixel widths
$screen-xs: 680px; 
$screen-sm: 768px;
$screen-md: 999px; 
$screen-lg: 1260px;


// Layout
$max-width-default: 1440px;


// Font-family default roles
$heading-font: "Galano Classic Alt", "Avenir Next", Arial, sans-serif; 
$label-font: "Galano Classic", "Avenir Next", Arial, sans-serif;     
$copy-font: "expo-serif-pro", "Meta Serif Pro", "Tisa Pro", serif;









